# Model: Voron 2.4 (300x300)
# Serial: V2.1936
# Author: TheBurnDoc

# MCU: BigTreeTech Octopus v1.1
# Firmware settings:
#  - STM32F446
#  - 32KiB bootloader
#  - 12Mhz crystal
#  - UART on pins PD6/PD5


#####################################################################
# 	External config files
#####################################################################

[include config/*.cfg]
[include ../../macros/*.cfg]


#####################################################################
# 	Base configuration
#####################################################################

[mcu]
canbus_uuid: 0f29aa6dc833

[mcu sb2040]
canbus_uuid: 66ac8f7e958a

[mcu host]
serial: /tmp/klipper_host_mcu

[printer]
kinematics: corexy
max_velocity: 600  
max_accel: 15000
max_z_velocity: 15 
max_z_accel: 500


#####################################################################
# 	Input shaper and resonance testing
#####################################################################

[adxl345]
cs_pin: sb2040:gpio1
spi_software_sclk_pin: sb2040:gpio0
spi_software_mosi_pin: sb2040:gpio3
spi_software_miso_pin: sb2040:gpio2

[resonance_tester]
accel_chip: adxl345
probe_points:
    150,150,20


#####################################################################
# 	X/Y Stepper Settings
#####################################################################

## X Stepper on MOTOR0(B Motor)
[stepper_x]
step_pin: PF13
dir_pin: !PF12
enable_pin: !PF14
rotation_distance: 40
microsteps: 16
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper
endstop_pin: tmc2209_stepper_x:virtual_endstop
position_min: 0
position_endstop: 300
position_max: 300
homing_speed: 20
homing_retract_dist: 0
homing_positive_dir: true

[tmc2209 stepper_x]
diag_pin: PG6
uart_pin: PC4
driver_SGTHRS: 63
interpolate: True
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

## Y Stepper on MOTOR1 (A Motor)
[stepper_y]
step_pin: PG0
dir_pin: !PG1
enable_pin: !PF15
rotation_distance: 40
microsteps: 16
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper
endstop_pin: tmc2209_stepper_y:virtual_endstop
position_min: 0
position_endstop: 300
position_max: 300
homing_speed: 20
homing_retract_dist: 0
homing_positive_dir: true

[tmc2209 stepper_y]
diag_pin: PG9
uart_pin: PD11
driver_SGTHRS: 54
interpolate: True
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0
 

#####################################################################
# 	Z Stepper Settings
#####################################################################

## Z0 Stepper - Front Left on MOTOR2_1
[stepper_z]
step_pin: PF11
dir_pin: PG3
enable_pin: !PG5
rotation_distance: 40
gear_ratio: 80:16
microsteps: 16
endstop_pin: probe:z_virtual_endstop
#position_endstop = 0.245
position_max: 275
position_min: -5
homing_speed: 10
second_homing_speed: 3
homing_retract_dist: 3

[tmc2209 stepper_z]
uart_pin: PC6
interpolate: true
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 999999

##	Z1 Stepper - Rear Left on MOTOR3
[stepper_z1]
step_pin: PG4
dir_pin: !PC1
enable_pin: !PA0
rotation_distance: 40
gear_ratio: 80:16
microsteps: 16

[tmc2209 stepper_z1]
uart_pin: PC7
interpolate: true
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 999999

##	Z2 Stepper - Rear Right on MOTOR4
[stepper_z2]
step_pin: PF9
dir_pin: PF10
enable_pin: !PG2
rotation_distance: 40
gear_ratio: 80:16
microsteps: 16

[tmc2209 stepper_z2]
uart_pin: PF2
interpolate: true
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 999999

##	Z3 Stepper - Front Right on MOTOR5
[stepper_z3]
step_pin: PC13
dir_pin: !PF0
enable_pin: !PF1
rotation_distance: 40
gear_ratio: 80:16
microsteps: 16

[tmc2209 stepper_z3]
uart_pin: PE4
interpolate: true
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 999999


#####################################################################
# 	Extruder
#####################################################################

#	E0 on MOTOR6
[extruder]
step_pin: sb2040:gpio9
dir_pin: !sb2040:gpio10
enable_pin: !sb2040:gpio7
microsteps: 16
rotation_distance: 22.811178
gear_ratio: 50:10
nozzle_diameter: 0.4
filament_diameter: 1.75
heater_pin: sb2040:gpio6
sensor_type: EPCOS 100K B57560G104F
sensor_pin: sb2040:gpio27
#control = pid
#pid_kp = 26.213
#pid_ki = 1.304
#pid_kd = 131.721
min_temp: 0
max_temp: 250
min_extrude_temp: 170
pressure_advance: 0.043
max_extrude_only_distance: 100.0

[tmc2209 extruder]
uart_pin: sb2040:gpio8
interpolate: false
run_current: 0.5
hold_current: 0.4
sense_resistor: 0.110
stealthchop_threshold: 999999


#####################################################################
# 	Bed Heater
#####################################################################

[heater_bed]
heater_pin: PA1
sensor_type: Generic 3950
sensor_pin: PF3
max_power: 1.0
min_temp: 0
max_temp: 120
#control: pid
#pid_kp: 58.437
#pid_ki: 2.347
#pid_kd: 363.769


#####################################################################
# 	Probe
#####################################################################

[probe]
pin: sb2040:gpio28
x_offset: 0
y_offset: 0
#z_offset: 0
speed: 20.0
samples: 3
samples_result: median
sample_retract_dist: 3.0
samples_tolerance: 0.006
samples_tolerance_retries: 3
activate_gcode:
    # Protect bed from probe with hot nozzle
    {% set PROBE_TEMP = 150 %}
    {% set MAX_TEMP = PROBE_TEMP + 5 %}
    {% set ACTUAL_TEMP = printer.extruder.temperature %}
    {% set TARGET_TEMP = printer.extruder.target %}

    {% if TARGET_TEMP > PROBE_TEMP %}
        { action_respond_info('Extruder temperature target of %.1fC is too high, lowering to %.1fC' % (TARGET_TEMP, PROBE_TEMP)) }
        M109 S{ PROBE_TEMP }
    {% else %}
        # Temperature target is already low enough, but nozzle may still be too hot.
        {% if ACTUAL_TEMP > MAX_TEMP %}
            { action_respond_info('Extruder temperature %.1fC is still too high, waiting until below %.1fC' % (ACTUAL_TEMP, MAX_TEMP)) }
            TEMPERATURE_WAIT SENSOR=extruder MAXIMUM={ MAX_TEMP }
        {% endif %}
    {% endif %}

#####################################################################
# 	Fan control
#####################################################################

[fan]
pin: sb2040:gpio13
kick_start_time: 0.5
off_below: 0.10

[heater_fan hotend_fan]
pin: sb2040:gpio14
fan_speed: 0.7
heater: extruder
heater_temp: 50.0

[controller_fan electronics_fan]
pin: PA8
fan_speed: 0.35


#####################################################################
# 	Additional temperature sensors 
#####################################################################

[temperature_sensor host_board]
sensor_type: temperature_host

[temperature_sensor controller_board]
sensor_type: temperature_mcu

[temperature_sensor gantry_ambient]
sensor_type: Generic 3950
sensor_pin: PF4

[temperature_sensor toolhead_ambient]
sensor_type: ATC Semitec 104GT-2
sensor_pin: sb2040:gpio26

[temperature_sensor toolhead_board]
sensor_type: temperature_mcu
sensor_mcu: sb2040


#####################################################################
# 	Filament runout sensor
#####################################################################

[filament_switch_sensor toolhead_switch]
switch_pin: sb2040:gpio29
pause_on_runout: True
runout_gcode:
   G91            # Relative positioning
   G1 E-100 F1000 # Retract filament stub (100mm)
insert_gcode:
   BEEP


#####################################################################
# 	Homing and levelling
#####################################################################

[gcode_macro G32]
description: Perform full homing routine including QGL
gcode:
    SAVE_GCODE_STATE NAME=STATE_G32

    G90 # Absolute positioning
    
    {% if printer.toolhead.homed_axes != "xyz" %}
        status_homing
        G28 # Initial home
    {% endif %}       
    
    {% if printer.quad_gantry_level.applied == False %}
        status_leveling
        QUAD_GANTRY_LEVEL
        G28 Z # Re-home Z after QGL
    {% endif %}
    
    status_ready

    RESTORE_GCODE_STATE NAME=STATE_G32

[homing_override]
set_position_z: 0
gcode:
    {% set home_cur = 0.4 %}
    {% set driver_x = printer.configfile.settings['tmc2209 stepper_x'] %}
    {% set driver_y = printer.configfile.settings['tmc2209 stepper_y'] %}
    {% set home_all = 'X' not in params and 'Y' not in params and 'Z' not in params %}
    
    SAVE_GCODE_STATE NAME=_state_homing
    
    status_homing # Stealthburner LEDs

    G1 Z5 # Hop Z by 5mm
    
    {% if home_all or 'X' in params %}
        SET_TMC_CURRENT STEPPER=stepper_x CURRENT={home_cur}

        G91          # Relative positioning
        G28 X        # Home X axis (sensorless)
        G1 X-5 F1000 # Move away 2mm
        G4 P2000     # Let registers clear

        SET_TMC_CURRENT STEPPER=stepper_x CURRENT={driver_x.run_current}
    {% endif %}

    {% if home_all or 'Y' in params %}
        SET_TMC_CURRENT STEPPER=stepper_y CURRENT={home_cur}

        G91          # Relative positioning
        G28 Y        # Home Y axis (sensorless)
        G1 Y-5 F1000 # Move away 2mm
        G4 P2000     # Let registers clear

        SET_TMC_CURRENT STEPPER=stepper_y CURRENT={driver_y.run_current}
    {% endif %}
    
    {% if home_all or 'Z' in params %}
        G90                # Absolute positioning
        G1 X150 Y150 F5000 # Move to center of bed
        G28 Z              # Home Z axis (Voron Tap)
        G1 Z10             # Raise back up
    {% endif %}

    status_ready # Stealthburner LEDs

    RESTORE_GCODE_STATE NAME=_state_homing

[bed_mesh]
speed: 300
horizontal_move_z: 5
mesh_min: 20, 0
mesh_max: 280,280
fade_start: 0.6
fade_end: 10.0
probe_count: 5,5
algorithm: bicubic
adaptive_margin: 5

[quad_gantry_level]
gantry_corners:
	-60,-10
	360,370
points:
	50,50
	50,250
	250,250
	250,50
speed: 200
horizontal_move_z: 5
retries: 5
retry_tolerance: 0.0075
max_adjust: 10


#####################################################################
# 	Display configuration and user feedback
#####################################################################

[display_status]

[display]
lcd_type: uc1701
cs_pin: EXP1_3
a0_pin: EXP1_4
rst_pin: EXP1_5
encoder_pins: ^EXP2_5, ^EXP2_3
click_pin: ^!EXP1_2
contrast: 63
spi_software_miso_pin: EXP2_1
spi_software_mosi_pin: EXP2_6
spi_software_sclk_pin: EXP2_2
display_group: __voron_display
menu_root: __voron_menu

[neopixel btt_mini12864]
pin: EXP1_6
chain_count: 3
initial_RED: .6
initial_GREEN: 0
initial_BLUE: 0
color_order: RGB

[output_pin beeper]
pin: EXP1_1
pwm: True
value: 0
shutdown_value: 0
cycle_time: 0.001


#####################################################################
# 	StealthBurner LEDs
#####################################################################

[neopixel sb_leds]
pin: sb2040:gpio12
chain_count: 3
color_order: GRBW

#####################################################################
# 	Power and standby configuration
#####################################################################

[gcode_macro POWER_ON]
gcode:
    {action_call_remote_method("set_device_power", device="printer", state="on")}

[gcode_macro POWER_OFF]
gcode:
    {action_call_remote_method("set_device_power", device="printer", state="off")}

[idle_timeout]
timeout: 600
gcode:
    TURN_OFF_HEATERS
    M107       # Turn off fan
    M84        # Turn off steppers
    status_off # Turn off toolhead LEDs

    # Schedule full shutdown
    UPDATE_DELAYED_GCODE ID=_timeout_power_off DURATION=600

[delayed_gcode _timeout_power_off]
gcode:
    {% if printer.idle_timeout.state == "Idle" %}
        POWER_OFF
    {% endif %}


#####################################################################
# 	Miscelaneous configuration and extended G-Code functionality
#####################################################################

[respond]

[gcode_arcs]

[exclude_object]

[virtual_sdcard]
path: ~/gcode_files

[firmware_retraction]
retract_length: 0.4
retract_speed: 60
unretract_extra_length: 0
unretract_speed: 60


#####################################################################
# 	Start and end print logic
#####################################################################

[gcode_macro PRINT_START]
gcode:
    # Check nozzle size matching configuration
    {% if params.NOZZLE_DIAMETER|float != printer.configfile.settings.extruder.nozzle_diameter %}
        {action_raise_error('Print nozzle diameter does not match configuration, aborting print')}
    {% endif %}

    G90 # Absolute positioning
    M83 # Extruder relative mode

    BED_MESH_CLEAR # Explicitly clear bed mesh before homing
    G32            # Full home and QGL routine

    # Load bed mesh or perform adaptive bed mesh calibration
    {% if 'BED_MESH' in params %}
        BED_MESH_PROFILE LOAD={params.BED_MESH}
    {% else %}
        status_meshing
        BED_MESH_CALIBRATE ADAPTIVE=1
    {% endif %}

    status_heating
    PARK_CENTER_BED              # Heat up position in center
    M140 S{params.BED_TEMP}      # Start heating bed
    M109 S{params.EXTRUDER_TEMP} # Heat up nozzle
    M190 S{params.BED_TEMP}      # Finish heating bed

    status_printing
    WIPE_LINE E=2.5

[gcode_macro PRINT_END]
gcode:
    {% set max_x = printer.toolhead.axis_maximum.x|float %}
    {% set max_y = printer.toolhead.axis_maximum.y|float %}
    {% set max_z = printer.toolhead.axis_maximum.z|float %}

    status_busy
    M400            # Wait for buffer to clear
    G92 E0          # Zero the extruder
    G1 E-25.0 F3600 # Retract filament out of nozzle
    G91             # Relative positioning

    # Check  position to determine safe X direction to move
    {% if printer.toolhead.position.x < (max_x - 20) %}
        {% set x_safe = 20.0 %}
    {% else %}
        {% set x_safe = -20.0 %}
    {% endif %}

    # Check  position to determine safe Y direction to move
    {% if printer.toolhead.position.y < (max_y - 20) %}
        {% set y_safe = 20.0 %}
    {% else %}
        {% set y_safe = -20.0 %}
    {% endif %}

    # Check  position to determine safe Z direction to move
    {% if printer.toolhead.position.z < (max_z - 2) %}
        {% set z_safe = 2.0 %}
    {% else %}
        {% set z_safe = max_z - printer.toolhead.position.z %}
    {% endif %}

    G0 Z{z_safe} F3600            # Move nozzle up
    G0 X{x_safe} Y{y_safe} F20000 # Jerk nozzle to remove stringing

    TURN_OFF_HEATERS
    M107 # Turn off fan
    BED_MESH_CLEAR
    PARK_REAR

    M117         # Clear display
    BEEP DUR=500 # Beep
    
    status_ready

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 55.871
#*# pid_ki = 2.661
#*# pid_kd = 293.321
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 39.030
#*# pid_ki = 5.656
#*# pid_kd = 67.326
#*#
#*# [input_shaper]
#*# shaper_type_x = mzv
#*# shaper_freq_x = 56.8
#*# shaper_type_y = mzv
#*# shaper_freq_y = 40.6
#*#
#*# [probe]
#*# z_offset = -0.795
